name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: In-Kyoto
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Kyiv
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, scss, text
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          
          plugin_lines: yes 
